* {
    

    box-sizing: border-box; 

}


html{

    scroll-behavior: smooth;
}

body{

background-color:#ffff;
margin:0;
padding:0;
font-family: "Encode Sans Semi Expanded", serif;
font-weight: 400;
font-style: normal;

}


 @media (max-width:670px){

body{
width:100vw;
overflow-x:hidden;


} 

 
} 

header{
margin:0;
background-color:rgb(255, 255, 255);
width:100%;


}

#encabezado{

    position:sticky;
    top:0;
    z-index:4000;

}

 
.contenedor_imagen_1{
margin:0;
width:100%;
height:210px;
background-image: url('https://images.pexels.com/photos/12096487/pexels-photo-12096487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
background-size: cover;
background-repeat: no-repeat;
background-position: center;

} 



.titulo{

display:flex;
gap:10px;
align-items:center;
position:relative;

}

.imagen_logo{

width:80px;
height:50px;
}




#navegador{
height:70px;
background-color: rgb(255, 255, 255);
color:#636363;
display:flex;
justify-content: space-around;
 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.101);
position:relative;


}

.listas{

list-style:none;

}


.listas a{

    text-decoration:none;
    color:black;
}



.listas a:hover{
color:#f7c511;

}


#comienzo a{

    color:whitesmoke;
    font-weight: 600;
    background-color: #f7c511;
    padding:5px 15px 5px 15px;
    border-radius: 20px;


}

#comienzo a:hover{

    background-color: #f7f7f7;
    color:#f7c511;

}



/* Menu Responsive */

#btn_menu_abrir{

display:none;
border:0;
font-size: 1.20rem;
background-color: transparent;
position:absolute;
left: 80%;
top:1.2em;
z-index:2000;

}


#Menu_lista{
    align-items:center;
    margin:0;
    height:70px;
    display:flex;
    gap:20px;
    z-index: 2000;
    
    }


 #btn_menu_cerrar{
        display:none;

}


@media(max-width:900px){

 #btn_menu_abrir{

    display:block;
    right: 30px;
}

#Menu{
display:none;

} 



#navegador{

position: relative;
}





#Menu_lista{
width:100%;
flex-direction: column;
align-items: end;
height:150px;
z-index: 4000;
right: 0;


}


#Menu.visible {
    display: block; 
    
} 
#Menu{
    width: 30%;
    height:280px; 
    position:absolute;
    top:120px;
    right:0;
    text-align: start;
    background-color:rgba(170, 170, 170, 0.5);
    border-radius: 2px;
    backdrop-filter: blur(15px) drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.5));
    padding: 1rem 1.6rem 5rem 1rem;
    transform: translateY(-50px);
    z-index: 3000;
   
}



#comienzo a{

border-radius: 10px;
z-index: 2000;

}

#btn_menu_cerrar{
    display:block;

}

#btn_menu_cerrar{

    border:0;
    font-size: 1.20rem;
    background-color: transparent;
    cursor:pointer;
    left:30em;
    top:1.2em;
    color:#ffffff;
    
    
    }


.listas a{

    color: #ffffff;
    font-size: 1em;
}

.listas a:hover{

    color: #bed4d3de;
    
}



}


/* configuracion del main */

/* Seccion bienvenida */

#bienvenida{
padding: 20px;
display:flex;
justify-content: space-around;
align-items: center;
}

.titulo-bienvenida h2{
    color:#636363;
}

.titulo-bienvenida h2 span{
color:#f7c511;
}


.contenido-imagen-casco{
    width: 40%;
 text-align: center;

}

.imagen-casco{

width:80%;
padding: 10px;


}

/* bienvenida responsive */

@media(max-width:800px){

    #bienvenida{
   
     flex-direction: column;
        z-index: 1000;
   }    

   .contenido-imagen-casco{
    width: 70%;
    z-index: 1000;

}


}

    /* Sesion historia */

    #historia{

       width:100%;
       box-sizing: border-box;
       padding:10px;
       background-color: #efefef; 
       display: flex;
        justify-content: space-around;



    }


    #historia h2, 
    #historia h3{
        color:#636363;

    }

    #historia div p{

        color: #ababab;

    }

    .edificio-img{

        width:300px;

    }




    .texto-historia{

        width:50%;
        text-align: justify;
    }
    


/* historia responsive */

@media(max-width:800px){
    #historia{

    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
        z-index: 1000;

    }

    .edificio-img{

        width:100%;
        border: 4px;
        z-index: 500;
    }


    .texto-historia{

        width:90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 500;
    }
}







/* Servicios ofrecidos */




#servicios{
    text-align: center;
    padding: 10px;

}


#servicios h2{

color:#636363;
}


.contenedor-servicios{

width:100%;
display: grid;
grid-template-columns: repeat(2, 50%);
grid-template-rows:repeat(3, 400px); 



}


.servicios-card{

    width: 60%;
    max-height: 400px;
    overflow: hidden;
    background-color: #efefef;
    border-radius: 5px;

    
}

.imagen-servicio{
    width:100%;
    height: 200px;
    object-fit: cover;
    
}



.servicios-subcontenedor{
display: flex;
align-items: center;
justify-content: center;
text-align: center;


}

#servicio-A{
grid-column: 1/2;
grid-row: 1/2;
    
}

#servicio-B{
    grid-column: 2/3;
    grid-row: 1/2;
        
}

#servicio-C{
    grid-column: 1/2;
    grid-row: 2/3;
            
}


#servicio-D{
    grid-column: 2/3;
    grid-row: 3/4;
                
}

.texto-servicio-card{
    padding:10px;

}

.texto-servicio-card h4,
.texto-servicio-card p{
 
color:#ababab;
}
 

@media(max-width:800px){





    .contenedor-servicios{

    

       grid-template-columns: repeat(1, 100%);
        grid-template-rows:repeat(6, 400px);
        gap: 20px; 
        z-index: 1000;
        
        
    }



    .servicios-card{

        width: 100%;
        max-height: 400px;

    
        
    }

    #servicio-A{
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1000; 
        }
        
        #servicio-B{
            grid-column: 1/2;
            grid-row: 2/3;
            z-index: 1000;   
        }
        
        #servicio-C{
            grid-column: 1/2;
            grid-row: 3/4;
            z-index: 1000;        
        }
        
        
        #servicio-D{
            grid-column: 1/2;
            grid-row: 4/5;
            z-index: 1000;           
        }


}


/* Seccion beneficios */

#beneficios{
width: 100%;
box-sizing: border-box; 
background-color: #f7c511;
padding: 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

.contenedor-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}


.subcontenedor-cards{
width: 50%;
display: flex;
justify-content: space-around;
text-align: center;
}

.beneficio-card{

width: 40%;
padding: 10px;
text-align: center;


}




/* sesion beneficio responsive */

@media(max-width:800px){

    .subcontenedor-cards{
        width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1500;
        
        }


        .beneficio-card{

            width: 100%;
          z-index: 1000;
            
            
            }
        


}


/* Sesion Contacto */


#contacto{
text-align: center;
padding:20px;

}

#contacto h2{
color:#636363;

}

.contenedor-contacto{
width:100%;
display:flex;
flex-direction: row;
justify-content: space-around;

}

.contacto-principal{
    max-width: 300px;
    width:100%;
    height: 300px;
    transform: translateY(28px);
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:20px;
    background-color:#efefef ;
    border-radius: 10px;
}

.contacto-principal h3{
    color:#636363;
}

.whatsapp-link{

    text-decoration: none;
    text-align: center;
    padding:5px 15px 5px 15px;
    background-color: green;
    color:whitesmoke;
    border-radius: 20px;
    font-weight: 700;
    

    
}

.imagen-contacto{
    width:90%;
border-radius: 7px;

}

/* contacto responsive */

@media(max-width:800px){
    .contacto-principal{

        width:40%;
        z-index: 700;

    }

    .contenedor-contacto{

        flex-direction: column-reverse;
       align-items: center;
       z-index: 1000;
        }

        .contacto-principal{
        
        width:300px;
        }


}





 /* Estilización del footer */

 #footer{
   width: 100%;
    background-color: #828282;
    display: flex;
    justify-content: center;
    margin-top:20px;

}


#footer h3{
    color:whitesmoke;
}

#info-listas-footer{
    width: 100%;
   display:flex;
   gap:30px;
   padding: 10px;

  
  
}

 #footer .listas a{

color:white;

}


.Logo-footer{

width:25%;


}

    /* contenido de footer responsive */
    


    @media(max-width:800px){
    
        #info-listas-footer{
        
            flex-direction:column;
            align-items: center;
        }
        
        
        .Logo-footer{
    
    width: 30%;
    
        }
        
        } 

    
    @media(max-width:400px){
    


        .listas a{
    font-size:smaller ;
    
        }
    
        .division-info h2{
    
            color:white;
            font-size: small; 
        }
    
    
    
    }
    
    .division-info h2{
    
    color:white;
    }
    
    
    .division-info {
        width:100%;
        justify-content: space-around;
    }
        
    
    
    
    
    #Logo-footer{
     max-width:400px;
    
     height:200px;
     border-radius: 5px;
    
    }

     
    
  